* {
  margin: 0;
}

body {
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #EEEEFF;
  overflow-y: scroll;
}

.about-me-section {
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom, #FB7BA2, #FCE043);
}

.about-me-card {
  height: 100%;
  border-radius: 20px;
}

.tech-stack-section {
  height: 60%;
  background-color: black;
  margin-bottom: 0;
}

.section-divider {
  position: absolute;
  bottom: 0;
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.waves {
  background-image: url('./assets/waves1.svg');
}

@media only screen and (min-width: 1250px) {
  .section-divider {
    aspect-ratio: 900/250;
  }
}